<a href="https://colab.research.google.com/github/Muluken1Walle/PythonJoS/blob/main/JobSP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Excercise : 1
# Write a print function that prints "I am new to python!"
print('I am new to python!')

I am new to python!

In [4]:
# Excercise : 2
# To the program where you printed out I am Learning python

# Add a comment It is possible to write within my code blocks without python using #
# I am startin learning how to print the worde.
print(' I am Learning python')

 I am Learning python

In [6]:
# Excercise : 3
# Create a variable as called age and add your age to it

# Next print out your age in your notebook 
age=38
age

38

In [10]:
# Excercise : 4
# Create two inputs with one taking the name and the other taking the age

# And then print out Hey <name> I am glad you started learning python at the age of <age>
name=input('what is yor name')
print('my Name is' " ", name)
age=input('how old are you')
print('My age is', age)

what is yor name38
my Name is  38
how old are you38
My age is 38

In [12]:
# Excercise : 5
# What is the datatype of these three variables :
discount = 43.8
height = 143
address = '#301, Pelican Street'
print(type(discount))
print(type(height))
print(type(address))

<class 'float'>
<class 'int'>
<class 'str'>

In [14]:

# Excercise : 6
# Make a list of your favourite colour, food and place and save it in a list called my_favs
my_fav=['Yellow','Rice','India']
my_fav

['Yellow', 'Rice', 'India']

In [16]:
# Excercise : 7
# Using the range function from 4 to 40 and then check the length
x=range(4,40)
x

range(4, 40)

In [17]:
# Excercise : 8
# Make a dictionary with students name and their scores !

# Student : Jake Score : 70
# Student : Mako Score : 75
# Student : Alex Score : 78.5
studen={'Jake Score' : 70,'Mako Score' : 75,'Alex Score' : 78.5}
studen

{'Alex Score': 78.5, 'Jake Score': 70, 'Mako Score': 75}

In [41]:
#Excercise : 9
# Create a variable with the value of pi as 3.14, create a new variable as radius and assign it a float value, this will be the radius of a circle 
# and then output the area of the circle using the formula pi*radius^2
pi=3.14
r=2
area=pi*r**2
area
#or
# PI = 3.14
# r = float(input("Enter the radius of a circle:"))
# area = PI * r * r
# print("Area of a circle = %.2f" %area)

12.56

In [35]:
# Let's see what comparison operator can do for us
# Excercise : 10
# In the last excercise you created a program to get the area of a circle , create a print function that checks
#  if the area that your program created is bigger than 50 or not
area=12.56
if area>50:
 print('area is greater tahn 50')
else:
   print('area is less than 50')

area is less than 50

In [44]:
# Excercise : 11
# Create a print function for our circle area generator to check if the area is between 20 AND 50
area=12.5
if area <50 and area>20:
 print('the area is between 20 and 50')
else:
    print('the area is no between 20 and 50')

the area is no between 20 and 50